<div class="container">
    <h2>{{title}}</h2>

    <div class="message success" *ngIf="status == 'success'">
        The project was successfully saved, you can find it <a [routerLink]="['/project', save_project._id]" href="#">here</a> 
    </div>

    <div class="message failure" *ngIf="status == 'failure'">
        The project was not successfully saved
    </div>

    <form #projectForm="ngForm" (ngSumbit)="onSubmit(projectForm)">
        <p>
            <label for="name">Name</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" required/>
            <span class="form_error" *ngIf="name.touched && !name.valid">
                Name is required
            </span>
        </p>
        <p>
            <label for="description">Description</label>
            <input type="text" name="description" #description="ngModel" [(ngModel)]="project.description" required/>
            <span class="form_error" *ngIf="description.touched && !description.valid">
                Description is required
            </span>
        </p>
        <p>
            <label for="category">Category</label>
            <input type="text" name="category" #category="ngModel" [(ngModel)]="project.category" required/>
            <span class="form_error" *ngIf="category.touched && !category.valid">
                Category is required
            </span>
        </p>
        <p>
            <label for="year">Year</label>
            <input type="number" name="year" #year="ngModel" [(ngModel)]="project.year"/>
        </p>
        <p>
            <label for="langs">Languages</label>
            <input type="text" name="langs" #langs="ngModel" [(ngModel)]="project.langs" required/>
            <span class="form_error" *ngIf="langs.touched && !langs.valid">
                Languages is required
            </span>
        </p>
        <p>
            <label for="image">Image</label>
            <span class="image" *ngIf="project.image" style="float: none;">
                <img src="{{url + 'get-image/' + project.image}}" *ngIf="project.image" alt="" style="width: 100px;">
            </span><br/>
            <input type="file" name="image" placeholder="Upload Image" (change)="fileChangeEvent($event)"/>
        </p>

        <input type="submit" value="Send" [disabled]="!projectForm">
    </form>
</div>
